<?html
		
include "config.html";
	
		
if(isset($_GET['pid'])&&isset($_GET['sid'])&&isset($_GET['mid']))
		
{
			
$pid=$_GET['pid'];
			
$sid=$_GET['sid'];
			
$mid=$_GET['mid'];
			
$qry1="SELECT * FROM purchase WHERE p_id='$pid' and sup_id='$sid' and med_id='$mid'";
			
$result = $conn->query($qry1);
			
$row = $result -> fetch_row();
		
}
		
		
 if( isset($_POST['update']))
		 
{
			
$pid=$_POST['pid'];
			
$sid=$_POST['sid'];
			
$mid=$_POST['mid'];
			
$qty = $_POST['pqty'];
			
$cost = $_POST['pcost'];
			
$pdate = $_POST['pdate'];
			
$mdate = $_POST['mdate'];
			
$edate = $_POST['edate'];
			 
		
$sql="UPDATE purchase SET p_cost='$cost',p_qty='$qty',pur_date='$pdate',mfg_date='$mdate',exp_date='$edate' 
				
where p_id='$pid' and sup_id='$sid' and med_id='$mid'";
		
if ($conn->query($sql))
		
header("location:purchase-view.html");

		
 }
?>



<!DOCTYPE html>

<html>


<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" type="text/css" href="nav2.css">

<link rel="stylesheet" type="text/css" href="form4.css">

<title>
Purchases
</title>

</head>


<body>

		
<div class="sidenav">
		
	
<?html 
			
if( isset($_POST['update']))
		
 {
			
$pid=$_POST['pid'];
			
$sid=$_POST['sid'];
			
$mid=$_POST['mid'];
			
$qty = $_POST['pqty'];
			
$cost = $_POST['pcost'];
			
$pdate = $_POST['pdate'];
			
$mdate = $_POST['mdate'];
			
$edate = $_POST['edate'];
			
			
$sql="UPDATE purchase SET p_cost='$cost',p_qty='$qty',pur_date='$pdate',mfg_date='$mdate',exp_date='$edate' 
				
where p_id='$pid' and sup_id='$sid' and med_id='$mid'";
			
if (!($conn->query($sql)))
				
echo "<p style='font-size:8; color:red;'>Error! Unable to update.</p>";
		
 }
	
?>
			
<h2 style="font-family:Arial; color:white; text-align:center;"> Medical Store Management System </h2>
			
<p style="margin-top:-20px;color:white;line-height:1;font-size:12px;text-align:center">Developed by, Abhishek Sharma, 2021</p>
			
<a href="adminmainpage.html">Dashboard</a>
			
<button class="dropdown-btn">Inventory
			
<i class="down"></i>
			
</button>
			
<div class="dropdown-container">
				
<a href="inventory-add.html">Add New Medicine</a>
				
<a href="inventory-view.html">Manage Inventory</a>
			
</div>
			
<button class="dropdown-btn">Suppliers
			
 <i class="down"></i>
			
</button>
			
<div class="dropdown-container">
				
<a href="supplier-add.html">Add New Supplier</a>
				
<a href="supplier-view.html">Manage Suppliers</a>
			
</div>
			
<button class="dropdown-btn">Stock Purchase
			
<i class="down"></i>
			
</button>
			
<div class="dropdown-container">
				
<a href="purchase-add.html">Add New Purchase</a>
				
<a href="purchase-view.html">Manage Purchases</a>
			
</div>
			
<button class="dropdown-btn">Employees
			
<i class="down"></i>
			
</button>
			
<div class="dropdown-container">
				
<a href="employee-add.html">Add New Employee</a>
				
<a href="employee-view.html">Manage Employees</a>
			
</div>
			
<button class="dropdown-btn">Customers
			
<i class="down"></i>
			
</button>
			
<div class="dropdown-container">
				
<a href="purchase-add.html">Add New Customer</a>
				
<a href="purchase-view.html">Manage Customers</a>
			
</div>
			
<a href="sales-view.html">View Sales Invoice Details</a>
			
<a href="salesitems-view.html">View Sold Products Details</a>
			
<a href="pos1.html">Add New Sale</a>
			
<button class="dropdown-btn">Reports
			
<i class="down"></i>
			
</button>
			
<div class="dropdown-container">
				
<a href="stockreport.html">Medicines - Low Stock</a>
				
<a href="expiryreport.html">Medicines - Soon to Expire</a>
				
<a href="salesreport.html">Transactions Reports</a>
			
</div>
	
</div>

	
<div class="topnav">
		
<a href="logout.html">Logout</a>
	
</div>
	
	
<center>
	
<div class="head">
	
<h2> UPDATE PURCHASE DETAILS</h2>
	
</div>
	
</center>
	
	
	
<div class="one">
		
<div class="row">
			
<form action="<?=$_SERVER['html_SELF']?>" method="post">
				
<div class="column">
					
<p>
						
<label for="pid">Purchase ID:</label><br>
						
<input type="number" name="pid" value="<?html echo $row[0]; ?>" readonly>
					
</p>
					
<p>
						
<label for="sid">Supplier ID:</label><br>
						
<input type="number" name="sid" value="<?html echo $row[1]; ?>" readonly>
					
</p>
					
<p>
						
<label for="mid">Medicine ID:</label><br>
						
<input type="number" name="mid" value="<?html echo $row[2]; ?>" readonly>
					
</p>
					
<p>
						
<label for="pqty">Purchase Quantity:</label><br>
						
<input type="number" name="pqty" value="<?html echo $row[3]; ?>">
			
</p>
				
</div>
				
				
<div class="column">
					
<p>
						
<label for="pcost">Purchase Cost:</label><br>
						
<input type="number" step="0.01" name="pcost" value="<?html echo $row[4]; ?>">
					
</p>
					
					
					
<p>
						
<label for="pdate">Date of Purchase:</label><br>
						
<input type="date" name="pdate" value="<?html echo $row[5]; ?>">
					
</p>
					
<p>
						
<label for="mdate">Manufacturing Date:</label><br>
						
<input type="date" name="mdate" value="<?html echo $row[6]; ?>">
					
</p>
					
<p>
						
<label for="edate">Expiry Date:</label><br>
						
<input type="date" name="edate" value="<?html echo $row[7]; ?>">
					
</p>
				</div>
				
			
<input type="submit" name="update" value="Update">
			
</form>	
		
</div>
	
</div>

<script>
	
		
var dropdown = document.getElementsByClassName("dropdown-btn");
		
var i;

			
for (i = 0; i < dropdown.length; i++) {
			  
dropdown[i].addEventListener("click", function() {
			 
 this.classList.toggle("active");
			
  var dropdownContent = this.nextElementSibling;
			 
 if (dropdownContent.style.display === "block") {
			 
 dropdownContent.style.display = "none";
			
  } else {
			 
 dropdownContent.style.display = "block";
			  
}
			 
 });
			
}
			

</script>
	

</html